
.home-container{
    margin-top: -10px;
    margin-left: 343px; 
    height:100vh;
    width:81vw;
    position: relative;
    text-align: center;
    
}
.video-wrapper,
.video-overlay
{
    position:absolute;
    height:100%;
    width:100%;
    object-fit: fill;
    top:0;
    left:0;
    margin:0
}

.video-wrapper video{
    height:100%;
    width:100%;
    object-fit: fill;
}
.video-overlay{
 
 z-index: 10;
}

.home-wrapper {
    position:absolute;
     font-family: 'Francois One', sans-serif;
     color:	white; 
        font-size:35px;
    top:45%;
    left:35%;
    z-index:20;
 }

 .hide-sidebar{
     display:inline-block;
     cursor:pointer;
     z-index:20;
     
 }

 .hide-sidebar1,
 .hide-sidebar2,
 .hide-sidebar3{
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.5s;
 }

 .change-Button .hide-sidebar1{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
 }

 .change-Button .hide-sidebar2{
     opacity:0;
 }

 .change-Button .hide-sidebar3{
     -webkit-transform: rotate(45deg) translate(-8px,-8px);
    transform:rotate(45deg) translate(-8px,-8px);
 }
