/* App css--------------------------------------------------------------------------------*/

.container-wrapper{
    
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
p{
    font-family: 'Francois One', sans-serif;
    font-size:18px;
}

/* sidebar css-----------------------------------------------------------------------------*/
.main-container{
    margin-top: -10px;
    height:100%;
    width:300px;
    position:fixed;
    left: 0;
    background-color:#F2F3F7;
    padding-top: 30px;
    display:block;
    overflow:auto;
    z-index: 10;
}

.self-image{ 
    height:200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top:40px;
}

#name{
    text-align: center;
    font-size:30px;
    margin-top:10px;
    margin-bottom:10px;
    color:rgb(53, 40, 40);
}




.primary-menu li{
    list-style-type: none;
    margin:15px 80px;
}
    .primary-menu ul li a {
        text-decoration: none;
        font-family: 'Francois One', sans-serif;
        font-size:20px;
        color:rgb(144,144,144);
        position:relative;
    }
        .primary-menu ul li a:visited{
            color:rgb(144,144,144);
            text-decoration: none;
        }
        .primary-menu ul li a:hover{
            color:rgb(53, 40, 40);
            text-decoration: none;       
        }
        .primary-menu ul li a:before{
            content:"";
            position:absolute;
            width:100%;
            height:4px;
            left:0;
            bottom:-2px;
            background-color:rgb(144,144,144);      
            visibility:hidden;
            -webkit-transform: scaleX(0);
            transform:scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition:all 0.3s ease-in-out 0s;
        }
        .primary-menu ul li.active a:before,
        .primary-menu ul li a:hover:before{
            visibility:visible;
            -webkit-transform: scaleX(1);
            transform:scaleX(1);
        }





#github-wrapper{
    left:40%;
    color:rgb(144,144,144);
}
    #github-wrapper:hover{
        color:rgb(53, 40, 40);
    }



#linkedin-wrapper{
    left:40%;
    color:rgb(144,144,144);
    margin-top:15px;  
}
    #linkedin-wrapper:hover{
        color:rgb(53, 40, 40);
    }





.email-wrapper{
    font-size:14px;
    margin-top:10px ;
    font-family: 'Francois One', sans-serif;
    text-align: center;
    color:	rgb(144,144,144);
}

.mobile-wrapper{
    font-size:14px;
    margin-top:10px;
    text-align: center;
    font-family: 'Francois One', sans-serif;
    color:rgb(144,144,144);
}

.copyright-wrapper{
    position: absolute;
    margin-top:20px;
    text-align: center;
    }
    .copyright-wrapper p{
        color:rgb(144,144,144);       
    }
  


/* Home page css ----------------------------------------------------------------------------*/
.home-container{
    position: relative;
    margin-top: -10px;
    height:101vh;
    margin-left:292px;
   width:100%;
   text-align:center;
   margin-right:-8px;
}
.video-wrapper,
.video-overlay
{
    position:absolute;
    height:100%;
    width:100%;
    object-fit: fill;
    top:0;
    left:0;
    margin:0
}

.video-wrapper video{
    height:100%;
    width:100%;
    object-fit: fill;
}
.video-overlay{
 
    z-index: 1;
}

.home-wrapper {
    position:absolute;
    font-family: 'Francois One', sans-serif;
    color:	rgb(221, 211, 221); 
    font-size:35px;
    top:50%;
    right:30%;
    left:30%;
    z-index:5;
 }

 /* .hide-sidebar{
     position:absolute;
     cursor:pointer;
     z-index:5;
     
     
 } */

 /* .hide-sidebar1,
 .hide-sidebar2,
 .hide-sidebar3{
    width: 35px;
    height: 5px;
    background-color: rgb(172, 156, 156);
    margin: 6px 0;
    transition: 0.5s;
    
 }

 .change-button .hide-sidebar1{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
 }

 .change-button .hide-sidebar2{
     opacity:0;
 }

 .change-button .hide-sidebar3{
     -webkit-transform: rotate(45deg) translate(-8px,-8px);
    transform:rotate(45deg) translate(-8px,-8px);
 } */


/* Introduction page css------------------------------------------------------------------------*/
.introduction-container{
    margin-left:292px;
    width:100%;
}

.introduction-wrapper {
    color:	#707070;
    margin-left:30px;
}

h1{
   color:rgb(144,144,144);
   font-family: 'Gayathri', sans-serif; 
   font-size:15px;
   padding:18px;
}
/* Expertise page css -----------------------------------------------------------------------*/
.expertise-container{
    position: relative;
    margin-left:292px;
    padding:0;
    width:100%;
    margin-bottom:100px;
}

.expertise-wrapper{
  
}
    .expertise-wrapper .fa-stack-1x{
    color:white;
    }

.expertise-1{
    margin-top:100px;
    float:left;
    width:30%;
    height:220px;
    background-color:rgb(247, 242, 242);
    text-align:center;
    margin-left:40px;
    border-bottom:6px double;
    border-bottom-color:rgb(131, 205, 235);
    min-width:450px;
    
}
    .expertise-1 .icon-1{
        
        color:rgb(131, 205, 235);
        margin-top:-60px;
    }

.expertise-2{
    margin-top:100px;
    float:left;
    width:30%;
    height:220px;
    background-color:rgb(247, 242, 242);
    text-align:center;
    margin-left:40px;
    border-bottom:6px double;
    border-bottom-color:rgb(241, 237, 100);
    min-width:450px;
}
    .expertise-2 .icon-2{
        
        color:rgb(241, 237, 100);
        margin-top:-60px;
    }

.expertise-3{
    margin-top:100px;
    float:left;
    width:30%;
    height:220px;
    background-color:rgb(247, 242, 242);
    text-align:center;
    margin-left:40px;
    border-bottom:6px double;
    border-bottom-color:rgb(170, 216, 170);
    min-width:450px;
}
    .expertise-3 .icon-3{
        color:rgb(170, 216, 170);
        margin-top:-60px;
    }

.expertise.container p{
    color:rgb(53, 40, 40);
}

/* Resizing page when windows being shrinked ------------------------------------------------*/

@media screen and (max-width: 800px)  {
    
    .main-container{
        display: none;      
    }
    .hide-sidebar1,
    .hide-sidebar2,
    .hide-sidebar3{
        display:block !important;
    }
    .home-container{
        margin-left:-8px;
        padding:0;
    }
   
    .introduction-container{
        margin-left:0px;
    }

    .expertise-container {
        margin-left:0px;
    }
        .expertise-wrapper{
            margin-left:10px;
            margin-right:5%;
        }
        
  } 